/* Barlow Fonts */
@font-face {
  font-family: 'Barlow';
  src: url('/fonts/Barlow-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'Barlow';
  src: url('/fonts/Barlow-Regular.ttf') format('truetype');
  font-weight: normal; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Barlow';
  src: url('/fonts/Barlow-SemiBold.ttf') format('truetype');
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

/* Barlow Condensed Fonts */
@font-face {
  font-family: 'Barlow Condensed';
  src: url('/fonts/BarlowCondensed-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('/fonts/BarlowCondensed-Regular.ttf') format('truetype');
  font-weight: normal; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('/fonts/BarlowCondensed-SemiBold.ttf') format('truetype');
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

/* BarlowSemiCondensed */
@font-face {
  font-family: 'Barlow Semi Condensed';
  src: url('/fonts/BarlowSemiCondensed-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  src: url('/fonts/BarlowSemiCondensed-Regular.ttf') format('truetype');
  font-weight: normal; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  src: url('/fonts/BarlowSemiCondensed-SemiBold.ttf') format('truetype');
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

/* Noto Sans Khmer Fonts */
@font-face {
  font-family: 'Noto Sans Khmer';
  src: url('/fonts/NotoSansKhmer-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans Khmer';
  src: url('/fonts/NotoSansKhmer-Regular.ttf') format('truetype');
  font-weight: normal; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans Khmer';
  src: url('/fonts/NotoSansKhmer-SemiBold.ttf') format('truetype');
  font-weight: 600; /* SemiBold */
  font-style: normal;
}
