header {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        button {
            background-color: #3276cf;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 187px;
            height: 48px;
            border-radius: 4px;
            border: none;

            svg {
                margin-right: 0.5rem;
            }
        }
    }
}
