header {
    background: black;
    height: 97px;
    display: flex;
    align-items: center;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        .nav-menu {
            height: 100%;
            display: flex;
            align-items: center;

            & > div {
                height: 100%;
                display: flex;
            }
        }

        .nav-list {
            display: flex;
            align-items: center;
            color: white;
            list-style-type: none;
            height: 100%;
            margin: 0;
            padding: 0;

            li {
                height: 100%;
                display: flex;
                align-items: center;
                margin: 0 1rem;

                a {
                    text-decoration: none;
                    color: white;
                    position: relative;
                    display: flex;
                    height: 100%;
                    align-items: center;

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        width: 0%;
                        background: #3276cf;
                        height: 4px;
                        left: 0;
                        transition: width 0.3s ease;
                    }
                    &[data-active]::after {
                        width: 100%;
                    }
                }
            }
        }

        button {
            background-color: #3276cf;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 187px;
            height: 48px;
            border-radius: 4px;
            border: none;

            svg {
                margin-right: 0.5rem;
            }
        }
    }
}
